.App {
  text-align: center;
  #quote-box{
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 25px;
    #author{
      text-align: end;
      margin-top: 0;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      min-height: 50px;
      #tweet-quote {
        display: flex;
        padding: 10px;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        align-self: center;
        justify-content: center;
      }
    }
    #new-quote{
      display: inline-block;
      color: white;
      border-radius: 10px;
      padding: 10px;
      border: none;
      cursor: pointer;
      font-size: 16px;
    }
  }
  .App-header {
      background-color: #282c34;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
    }
}
@media only screen and (max-width: 600px) {
  .buttons {
    flex-direction: column-reverse;
    #new-quote {
      margin-bottom: 10px;
      cursor: pointer;
    }
  }
}